* {
  margin: 0;
  padding: 0;
}

html {
  background-color: slategray;
  box-sizing: border-box;
}

.wrapper {
  padding: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  gap: 0.6rem;
}

.album {
  position: relative;
}

/* so that the box-shadow doesn't cover up adjacent elements */
.album::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 6px 8px 30px black;
  border-radius: 6px;
}

.album, .album::before {
  aspect-ratio: 1;
  max-width: 20rem;
  max-height: 20rem;
}

/* .album_blank {
  background-color: blueviolet;
  border: 1px solid black;
} */

.album img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.album a {
  cursor: pointer;
}