@font-face {
  font-family: 'Gidole';
  src: url('../fonts/GidoleFont/Gidole-Regular.eot');
  src: url('../fonts/GidoleFont/Gidole-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GidoleFont/Gidole-Regular.woff2') format('woff2'),
      url('../fonts/GidoleFont/Gidole-Regular.woff') format('woff'),
      url('../fonts/GidoleFont/Gidole-Regular.ttf') format('truetype'),
      url('../fonts/GidoleFont/Gidole-Regular.svg#Gidole-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: slategray;
  box-sizing: border-box;
  font-family: 'Gidole';
}

.title {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.wrapper {
  padding: 3rem;
}

.container {
  /* display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse; */
  gap: 0.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  margin: 0 auto;
}

.album {
  position: relative;
}

/* so that the box-shadow doesn't cover up adjacent elements */
.album::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 6px 8px 30px black;
  border-radius: 6px;
}

.album, .album::before {
  aspect-ratio: 1;
  max-width: 20rem;
  max-height: 20rem;
}

.album img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.album a {
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}