@font-face {
  font-family: 'Gidole';
  src: url('../fonts/GidoleFont/Gidole-Regular.eot');
  src: url('../fonts/GidoleFont/Gidole-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GidoleFont/Gidole-Regular.woff2') format('woff2'),
      url('../fonts/GidoleFont/Gidole-Regular.woff') format('woff'),
      url('../fonts/GidoleFont/Gidole-Regular.ttf') format('truetype'),
      url('../fonts/GidoleFont/Gidole-Regular.svg#Gidole-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Gidole';
}

body {
  /* background-color: slategray; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#83adbd+0,2b4563+100 */
  background: #83adbd; /* Old browsers */
  background: -moz-linear-gradient(top,  hsl(197,31%,63%) 0%, hsl(212,40%,28%) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  hsl(197,31%,63%) 0%,hsl(212,40%,28%) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  hsl(197,31%,63%) 0%,hsl(212,40%,28%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83adbd', endColorstr='#2b4563',GradientType=0 ); /* IE6-9 */
}

/* Utility */

.noselect,
.album img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* --------------------------------- */

.title {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  text-shadow: 1px 1px 3px hsl(0, 0%, 85%);
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: hsl(0, 0%, 22%);
  text-shadow: 1px 1px 2px white, 1px 1px 5px white, 1px 1px 20px white;
}

.wrapper {
  padding: 3rem;
}

.container {
  /* display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse; */
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  margin: 0 auto;
}

.album {
  position: relative;
}

.album:hover {
  opacity: 0.7;
}

.album_title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 15%;
  text-shadow: hsl(0, 0%, 0%) 1px 0 3px, hsl(0, 0%, 0%) 1px 0 10px, hsl(0, 0%, 0%) 0 1px 20px;
  visibility: hidden;
}

.album:hover .album_title {
  visibility: visible;
}

/* so that the box-shadow doesn't cover up adjacent elements */
.album::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 6px 8px 30px #000;
  border-radius: 6px;
}

.album, .album::before {
  aspect-ratio: 1;
  max-width: 20rem;
  max-height: 20rem;
}

.album img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.album a {
  cursor: pointer;
}

.footer {
  color: #FFF;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 580px) {
  .container {
    justify-items: center;
    gap: 3rem;
  }

  .title {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }

  .footer {
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 580px) {
  .footer {
    text-align: right;
    padding-right: 2.5rem;
  }
}